/* ----- Media Queries ----- */
@media only screen and (max-width: 768px) {
    .article, .article2 {
        display: grid;
    }
    .imgArticle {
        width: 100%;
    }
    #menuHeader {
        text-align: center;
    }
    }

@media only screen and (max-width: 1024px) {
    .article, .article2 {
        display: grid;
    }
    .imgArticle {
        width: 100%;
        grid-row: none;
    }
    #menuHeader {
        text-align: center;
    }
    }

    @media only screen and (max-width: 376px) {
    #recetas__container {
    display: flex;
    flex-direction: column;
}
    #videoReceta {
        display: none;
    }
        }